<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Vue JS 3</title>
</head>
<body>
    <div id="app">
        <h1>비밀번호 입력</h1>
        <input v-bind:type="type" v-model="password">
        <input type="checkbox" v-model="visible"> 비밀번호 표시
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    password:"",
                    visible:false,
                };
            },
            computed:{
                type(){
                    return this.visible ? "text" : "password";
                },
            }
        });
        app.mount("#app");
    </script>
</body>
</html>